accelerate
aiofiles
aiohttp
configparser

# File manipulation libraries
docling
graspologic

# database packages
networkx

# Basic modules
numpy
pipmaster
pydantic
python-dotenv

setuptools
tenacity


# LLM packages
tiktoken
tqdm
xxhash

# Extra libraries are installed when needed using pipmaster

aioboto3 
ollama
openai
torch
streamlit
streamlit_agraph
nano_vectordb
neo4j

